@charset "UTF-8";
/* CSS Document */

.container{
	padding: none;
}
 

body {
font-family: 'Gayathri', sans-serif;	
	
}

footer {
	color: #000000;
	
}

.image{
  padding-top: 25px;
  margin: 0px;
  display:inline-block;

}


